In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 23.1 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 20.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [2]:
import pymongo
import json
# URL de conexão ao MongoDB Atlas (substitua pela sua)
client = pymongo.MongoClient("mongodb+srv://os14minhavida:1234@clusterfatec.bfw6x.mongodb.net/?retryWrites=true&w=majority&appName=ClusterFatec")
# Acessar o banco de dados e a coleção
db = client["restaurant_database"]
collection = db["restaurants"]

In [3]:
# Caminho do arquivo (substitua pelo caminho correto se necessário)
file_path = "/content/restaurant.json"
# Ler objectId
from bson import ObjectId
# Abrir o arquivo JSON e carregar os dados
data = []
with open(file_path, "r", encoding='utf-8') as file:
  for line in file:
    record = json.loads(line)
 # Converter o campo '_id' com o $oid em ObjectId
    if '_id' in record and '$oid' in record['_id']:
      record['_id'] = ObjectId(record['_id']['$oid'])
    data.append(record)
# Inserir os dados no MongoDB Atlas
collection.insert_many(data)
print("Dados inseridos com sucesso!")

Dados inseridos com sucesso!

In [4]:
# Verificar um documento inserido
documento = collection.find_one()
print(documento)

{'_id': ObjectId('55f14312c7447c3da7051b26'), 'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu', 'address': '228 City Road', 'address line 2': 'Cardiff', 'name': '.CN Chinese', 'outcode': 'CF24', 'postcode': '3JH', 'rating': 5, 'type_of_food': 'Chinese'}

In [5]:
# 1. Insira um novo restaurante com o nome "Nova Pizzaria" e os seguintes detalhes: endereço, código postal, e classificação de 4.5.

db.restaurants.insert_one({
    'address' : 'Rua das Flores, 123',
    'name' : 'Nova Pizzaria',
    'postcode' : '78850000',
    'rating' : 4.5
    })

InsertOneResult(ObjectId('671997b0199863504356d855'), acknowledged=True)

In [6]:
# 2. Crie um documento para um restaurante com o tipo de comida "Vegano", com a classificação 5 e localizado em "Rio de Janeiro, RJ".

db.restaurants.insert_one ({
    'address line 2' : 'Rio de Janeiro, RJ',
    'name' : 'Restaurante Vegano',
    'rating' : 5,
    'type_of_food' : 'Vegano'
    })

InsertOneResult(ObjectId('671997bc199863504356d856'), acknowledged=True)

In [7]:
# 3. Adicione uma lista de pratos principais ao restaurante "A & G Kitchen", incluindo "Pizza Margherita", "Lasanha Vegana" e "Risotto de Cogumelos".

db.restaurants.update_one({
    'name': 'A & G Kitchen'},
     {'$set': {'main course': ['Pizza Margherita', 'Lasanha Vegana', 'Risotto de Cogumelos']}}
)

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000001b'), 'opTime': {'ts': Timestamp(1729730497, 3), 't': 27}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1729730497, 3), 'signature': {'hash': b'j\x81\xfe[\xf2\x9ck\xdd;\xa9QvRJ#\xbc\xf2\xb4\x89\xc2', 'keyId': 7364540273096916998}}, 'operationTime': Timestamp(1729730497, 3), 'updatedExisting': True}, acknowledged=True)

In [8]:
# 4. Crie um documento com um restaurante que tenha múltiplos endereços em diferentes cidades e adicione as classificações individuais para cada localização.

db.restaurants.insert_one ({
    "name": "Restaurante Unico",
    "address": [
        {
            "address line 2": "São Paulo",
            "address": "Rua A, 123",
            "rating": 4.5
        },
        {
            "address line 2": "Rio de Janeiro",
            "address": "Av. B, 456",
            "rating": 4.0
        },
        {
            "address line 2": "Belo Horizonte",
            "address": "Praça C, 789",
            "rating": 4.8
        }
    ]
})

InsertOneResult(ObjectId('671997c5199863504356d857'), acknowledged=True)

In [15]:
# 5. Insira um restaurante com uma avaliação vazia e adicione campos para indicar os horários de funcionamento: "Segunda a Sexta: 9h às 22h", "Sábado e Domingo: 11h às 23h".

db.restaurants.insert_one ({
    "name": "Restaurante Ruim",
    "address line 2": "São Paulo",
    "address": "Rua E, 123",
    "rating": None,
    "opening hours": {
        "Monday to Friday": "9h às 22h",
        "Saturday to Sunday": "11h às 23h"
    }
})

InsertOneResult(ObjectId('67199a9d199863504356d859'), acknowledged=True)

In [ ]:
# 6. Liste todos os restaurantes que possuem o tipo de comida "Chinesa".

for restaurants in db.restaurants.find({"type_of_food": "Chinese"}):
    print(restaurants)

In [ ]:
# 7. Busque e exiba todos os restaurantes localizados na cidade de "Cardiff"

for restaurants in db.restaurants.find({'address line 2': 'Cardiff'}):
    print(restaurants)

In [ ]:
# 8. Filtre os restaurantes com uma classificação superior a 5 e exiba seus nomes e tipos de comida.

for restaurants in db.restaurants.find({"rating": {"$gt": 5}}):
    print(restaurants)

In [13]:
# 9. Encontre um restaurante pelo seu nome exato e exiba todas as informações associadas

NomeRestaurante = input("Digite o nome do restaurante: ")

print(db.restaurants.find_one({'name': NomeRestaurante}))

Digite o nome do restaurante: Blue Bay
{'_id': ObjectId('55f14313c7447c3da7052512'), 'URL': 'http://www.just-eat.co.uk/restaurants-blue-bay-glasgow/menu', 'address': '14 Bridgeton Cross', 'address line 2': 'Glasgow', 'name': 'Blue Bay', 'outcode': 'G40', 'postcode': '1BW', 'rating': 5.5, 'type_of_food': 'Fish & Chips'}

In [14]:
# 10.Liste os 5 restaurantes com a maior avaliação no banco de dados.

for restaurants in db.restaurants.find({"rating": {"$ne": "Not yet rated"}}).sort("rating", -1).limit(5):
    print(restaurants)

{'_id': ObjectId('55f14312c7447c3da7051bbc'), 'URL': 'http://www.just-eat.co.uk/restaurants-aarthi-sw19/menu', 'address': '5 Kingston Road', 'address line 2': 'London', 'name': 'Aarthi', 'outcode': 'SW19', 'postcode': '1JX', 'rating': 6, 'type_of_food': 'Curry'}
{'_id': ObjectId('55f14312c7447c3da7051b2a'), 'URL': 'http://www.just-eat.co.uk/restaurants-indiancom-ch4/menu', 'address': '9 Broughton Hall Road', 'address line 2': 'Broughton', 'name': '@Indian.com', 'outcode': 'CH4', 'postcode': '0QR', 'rating': 6, 'type_of_food': 'Curry'}
{'_id': ObjectId('55f14312c7447c3da7051c82'), 'URL': 'http://www.just-eat.co.uk/restaurants-agra-warminster/menu', 'address': '32 East Street', 'address line 2': 'Wiltshire', 'name': 'Agra', 'outcode': 'BA12', 'postcode': '9BN', 'rating': 6, 'type_of_food': 'Curry'}
{'_id': ObjectId('55f14312c7447c3da7051bfb'), 'URL': 'http://www.just-eat.co.uk/restaurants-absharindian-ig6/menu', 'address': '43 High Street', 'address line 2': 'Ilford', 'name': 'Abshar Indian Cuisine', 'outcode': 'IG6', 'postcode': '2AD', 'rating': 6, 'type_of_food': 'Punjabi'}
{'_id': ObjectId('55f14312c7447c3da7051b2b'), 'URL': 'http://www.just-eat.co.uk/restaurants-007takeaway-s65/menu', 'address': '6 Drummond Street', 'address line 2': 'Rotherham', 'name': '007 Takeaway', 'outcode': 'S65', 'postcode': '1HY', 'rating': 6, 'type_of_food': 'Pizza'}

In [16]:
# 11.Atualize a classificação do restaurante "007 Takeaway" para 6.5.

db.restaurants.update_one(
    {"name": "007 Takeaway"},
    {"$set": {"rating": 6.5}}
)

print(db.restaurants.find_one({'name': '007 Takeaway'}))

{'_id': ObjectId('55f14312c7447c3da7051b2b'), 'URL': 'http://www.just-eat.co.uk/restaurants-007takeaway-s65/menu', 'address': '6 Drummond Street', 'address line 2': 'Rotherham', 'name': '007 Takeaway', 'outcode': 'S65', 'postcode': '1HY', 'rating': 6.5, 'type_of_food': 'Pizza'}

In [17]:
# 12.Altere o tipo de comida de todos os restaurantes com a classificação 4.0 para "Fusão Contemporânea".

print(f"{db.restaurants.update_many({'rating': 4.0}, {'$set': {'type_of_food': 'Fusão Contemporânea'}}).modified_count} restaurante(s) atualizado(s) para 'Fusão Contemporânea'.")

167 restaurante(s) atualizado(s) para 'Fusão Contemporânea'.

In [18]:
# 13.Adicione uma lista de comentários de clientes ao restaurante "113 Fish Bar", com pelo menos 3 comentários diferentes.

db.restaurants.update_one(
    {"name": "113 Fish Bar"},
    {"$set": {"comments":[
        "Ótimo atendimento e comida deliciosa!",
        "A melhor fish and chips da cidade!",
        "Ambiente agradável, voltarei com certeza."]}
    }
)

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000001b'), 'opTime': {'ts': Timestamp(1729732467, 2), 't': 27}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1729732467, 2), 'signature': {'hash': b'4k8\xca\x17;\x01\xe6\x9e\xab\xe9_\xf5{\x06\xee\x17:\xbe:', 'keyId': 7364540273096916998}}, 'operationTime': Timestamp(1729732467, 2), 'updatedExisting': True}, acknowledged=True)

In [19]:
# 14.Modifique o endereço do restaurante "A M Mians" para "Rua Nova, 123" e a cidade para "Lisboa"

db.restaurants.update_one(
    {"name": "A M Mians"},
    {"$set": {
        "address": "Rua Nova, 123",
        "address line 2": "Lisboa"
    }}
)

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000001b'), 'opTime': {'ts': Timestamp(1729732535, 1), 't': 27}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1729732535, 1), 'signature': {'hash': b'\x81\xc9!(l\x91F\xcf`\xf5${\x1e\x07FV\xf9\x85\x08Y', 'keyId': 7364540273096916998}}, 'operationTime': Timestamp(1729732535, 1), 'updatedExisting': True}, acknowledged=True)

In [20]:
# 15.Atualize o campo de URL do restaurante "@ Thai Restaurant" para refletir um novo domínio: "http://www.example-thairestaurant.com/menu".

db.restaurants.update_one(
    {"name": "@ Thai Restaurant"},
    {"$set": {
        "URL": "http://www.example-thairestaurant.com/menu"
    }}
)

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000001b'), 'opTime': {'ts': Timestamp(1729732587, 3), 't': 27}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1729732587, 3), 'signature': {'hash': b'\x0c"$\x1d\x1e\xd1\xc1M\x0b2ZCm\x1d\x0b_\xf3\'?\x1c', 'keyId': 7364540273096916998}}, 'operationTime': Timestamp(1729732587, 3), 'updatedExisting': True}, acknowledged=True)

In [21]:
# 16.Exclua todos os restaurantes com uma classificação abaixo de 3.

db.restaurants.delete_many({'rating': {'$lt': 3}})

DeleteResult({'n': 23, 'electionId': ObjectId('7fffffff000000000000001b'), 'opTime': {'ts': Timestamp(1729732626, 21), 't': 27}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1729732626, 23), 'signature': {'hash': b'W\x87\xb6\xe8\xab=\x1b\xfe\x8f\x96\x9b\xa8&\x81\x0f&w\x82/!', 'keyId': 7364540273096916998}}, 'operationTime': Timestamp(1729732626, 21)}, acknowledged=True)

In [22]:
# 17.Remova um restaurante cujo nome contenha "Pizza" e esteja localizado na cidade de "Manchester".

db.restaurants.delete_one({
    'name': {'$regex': 'Pizza', '$options': 'i'},  # 'i' para ignorar case
    'address line 2': 'Manchester'
})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000001b'), 'opTime': {'ts': Timestamp(1729732751, 2), 't': 27}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1729732751, 2), 'signature': {'hash': b'R\xae\xe8}\xa1\xf9pc\xe3\xb9\xd7Vz#\xe6)\x872\xd9\x94', 'keyId': 7364540273096916998}}, 'operationTime': Timestamp(1729732751, 2)}, acknowledged=True)

In [23]:
# 18.Delete todos os restaurantes que possuem o tipo de comida "Curry".

db.restaurants.delete_many({'type_of_food': 'Curry'})

DeleteResult({'n': 866, 'electionId': ObjectId('7fffffff000000000000001b'), 'opTime': {'ts': Timestamp(1729732784, 874), 't': 27}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1729732784, 879), 'signature': {'hash': b'\tOT\xf0\xd4\xfd\xd1\x8d\xbf|\xf7\xdd\x9arC\xfe\xd4(]K', 'keyId': 7364540273096916998}}, 'operationTime': Timestamp(1729732784, 874)}, acknowledged=True)

In [24]:
# 19.Exclua o restaurante com o nome "A & T Mundi House".

db.restaurants.delete_one({'name': 'A & T Mundi House'})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000001b'), 'opTime': {'ts': Timestamp(1729732805, 2), 't': 27}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1729732805, 2), 'signature': {'hash': b'u+\x1c\xea\x8b\xf7g\xdf\x03{Q\x80\xc3\xdb\xe7\xaa\xbd\x82Y\x8d', 'keyId': 7364540273096916998}}, 'operationTime': Timestamp(1729732805, 2)}, acknowledged=True)

In [26]:
# 20.Remova os documentos duplicados do restaurante "333 Chinese Takeaway", preservando apenas um.

db.restaurants.delete_many({
    '_id': {
        '$in': [
            doc['_id'] for doc in db.restaurants.find({'name': '333 Chinese Takeaway'})[1:]
        ]
    }
})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000001b'), 'opTime': {'ts': Timestamp(1729732871, 2), 't': 27}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1729732871, 2), 'signature': {'hash': b'e\xea_\xdee\xa2:\xf5\xb0\xca\xffa\x02\x04\xfa6@\x89g\xa5', 'keyId': 7364540273096916998}}, 'operationTime': Timestamp(1729732871, 2)}, acknowledged=True)